<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="PhoneMarketplaceDB"
			 connectionString="Data Source=KALI\SQLEXPRESS;Initial Catalog=PhoneMarketplaceDB;User ID=sa;Password=Password123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
